header {
	width: 100%;
	position: fixed;
	left: 0;
	right: 0;
	padding: 45px 0;
	z-index: 1024;
}

header.nav-collapsed {
	background: black;
	padding: 10px 0;
}

header > .header-container {
	display: flex;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

header nav ul {
	display: flex;
	margin-bottom: 0;
	list-style: none;
}

header nav li {
	margin-left: 40px;
}

main > section#intro {
	display: flex;
	align-content: center;
}

main > section {
	display: flex;
	height: 100vh;
	padding: 0 250px;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

main > footer {
	position: relative;
	margin-top: -50px;
	text-align: center;
}
